MONGODB_URI=mongodb+srv://admin:Narayana%235000@smart-parking-cluster.8p489ft.mongodb.net/smartparking?retryWrites=true&w=majority&appName=smart-parking-cluster

JWT_SECRET=smartparking_super_secret_key_2026

CLOUDINARY_CLOUD_NAME=dv6wdwx1f

CLOUDINARY_API_KEY=843336588249616

CLOUDINARY_API_SECRET=PWJp4PXM5RIrVjoLWZMHCS_Hgsw

EMAIL_USER=kartheek14555@gmail.com

EMAIL_PASS=uejbexyskcwybaem

RAZORPAY_KEY_ID=rzp_test_SokPsS473vLJUj

RAZORPAY_KEY_SECRET=v6i9bzHNXeZ6aDMHmmWYD6M7

FRONTEND_URL=http://localhost:3000

PORT=5001